services:
  mysql:
    image: 'mysql:latest'
    environment:
      - 'MYSQL_DATABASE=login-product'
      - 'MYSQL_ROOT_PASSWORD=root'
    ports:
      - '3306:3306'
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 5s
      retries: 10

  backend:
    build: .
    environment:
      DB_HOST: mysql
      DB_USER: root
      DB_PASSWORD: root
      DB_NAME: login-product
    ports:
      - "8080:8080"
    depends_on:
      mysql:
        condition: service_healthy