version: "3.9"
services:
  mysql:
    image: 'mysql:8.0'
    environment:
      - 'MYSQL_DATABASE=login-product'
      - 'MYSQL_ROOT_PASSWORD=root'
      - 'MYSQL_ALLOW_EMPTY_PASSWORD=no'
    ports:
      - '3306:3306'
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot"]
      timeout: 20s
      retries: 10
      interval: 10s
    networks:
      - app-network

  backend:
    build: .
    environment:
      DB_HOST: mysql
      DB_USER: root
      DB_PASSWORD: root
      DB_NAME: login-product
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/login-product
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
    ports:
      - "8080:8080"
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 10s
      timeout: 10s
      retries: 5

networks:
  app-network:
    driver: bridge