name: Test Perfomance With K6

on:
  push:
    branches: ['*']
  pull_request:
    branches: ['*']

jobs:
  backend-compose:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Start backend + services
        run: |
          cd FloginFE_BE/backend
          docker compose up -d

      - name: Wait for backend to be ready
        run: |
          cd FloginFE_BE/backend
          for i in {1..30}; do
            curl -f http://localhost:8080/actuator/health && break
            echo "Waiting for backend..."
            sleep 2
          done
